html, body {
  margin: 0;
  padding: 0;
  background-color: #faf7f0;
}



/*1*/
canvas {
  padding-top:50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



/*2*/
.randomizerButton{
  background-color: #abd1c1;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 10px;
}


/*3*/
.center{
  margin-left: auto;
  margin-right: auto;
}


/*4*/
.row {
  display: flex;
}



/*5*/
.column {
  flex: 50%;
}
