

body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    background-color:#D9C5CC;
}


a {
    color:#def0ee ;
    text-decoration: none;
    padding-left: 5%;
    
}



h1 {
    color: blue;
    font-size: 20px;
    color:#f28963;
    text-align: center;
}


h2{
    color: blue;
    font-size: 20px;
    color:#f28963;
    text-align: center;
}

p {
    color: #a3360f;
    font-size: 18px;
}

h4 {
    color: blue;
    font-size: 20px;
    color:#1f2963;
    text-align: center;
}


.nav{
    background-color: black;
    color:white;
    width:100%;
    text-align: center;
    letter-spacing :1px;
    padding-left: 0%;
    padding-right: 10%;
    font-size: 50px;


}
.b{
    background-color: black;
    color:white;
    width:100%;
    padding: 24px;
    text-align: center;

}

.foo {
    width:100%;
    text-align: center;
    padding: 24px;   
}
 


    







@media only screen and (min-width: 1920px) {    
}
@media only screen and (max-width: 1280px) {    
}
@media only screen and (max-width: 768px) {    
}
@media only screen and (max-width: 600px) {    
}
@media only screen and (max-width: 375px) {    
}