

body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    background-color:#F3EEDD;
}


a {
    color:#ADC4B4 ;
    text-decoration: none;
    padding-left: 5%;    
}



h1 {
    font-size: 20px;
    color:#7A8B6F;
    text-align: center;
  
font-family: rosella-deco, sans-serif;
font-weight: 400;
font-style: normal;
}

  
  
}

h2{
    color: blue;
    font-size: 20px;
    color:#ACB391;
    text-align: center;
}

h3 {
    color: blue;
    font-size: 20px;
    color:#809781;
    text-align: center;
}



h4 {
    color: blue;
    font-size: 20px;
    color:#7A8B6F;
    text-align: center;
}


p {
    color: #7A8B6F;
    font-size: 18px;
}


.nav{
    background-color: #7A8B6F;
    color:white;
    width:100%;
    text-align: center;
    letter-spacing :1px;
    padding-left: 0%;
    padding-right: 10%;
    font-size: 50px;


}
.b{
    background-color: #7A8B6F;
    color:white;
    width:100%;
    padding: 24px;
    text-align: center;

}

.foo {
    width:100%;
    text-align: center;
    padding: 24px;   
}
 
.mid {
  text-align: center;
}


.tab {
    margin-left: 20px;
  }


    div img.center {
       display: block;
       margin-left: auto;
       margin-right: auto;
      width: 60%;
       
}
    







@media only screen and (min-width: 1920px) {    
}
@media only screen and (max-width: 1280px) {    
}
@media only screen and (max-width: 768px) {    
}
@media only screen and (max-width: 600px) {    
}
@media only screen and (max-width: 375px) {    
}